/* Custom properties */

:root {
  --clr-title: #fff;
  --clr--bgc1-footer: #11001c;
  --clr-bgc2: #880d63;
  --clr-bgc3: #35012c;
  --clr-footer2: #4f0147;

  --fs-h1: 4.5rem;
  --fs-h2: 3.25rem;
}
/* General styles */

/* Buttons */

/* typography */

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

/* Header section*/
/* Nav section */

.nav {
  position: fixed;
  display: flex;
  background-color: transparent;
  /* background-color: #4F0147; */
  color: var(--clr-title);
  width: 100%;
  justify-content: space-between;
  align-items: center;
  transition: 0.4s;
  z-index: 100;
  padding: 20px 10px;
  flex-direction: column;
  align-items: flex-start;
}

.bg__burger {
  position: absolute;
  background-color: transparent;
  width: 100%;
  height: 100%;
  transition: 0.4s;
  z-index: -1;
  top:0;
  left:0;
}

.nav__logo {
  margin-left: 1.6em;
}

.nav__logo img {
  padding-top: 10px;
  width: 280px;
}

.toggle-button {
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  margin-top: 12px;
  padding: .8em;
  z-index: 1000;
  right: 1.6em;
  top: 1.6em;
}

.toggle-button__bar {
  background: var(--clr-title);
  width: 2em;
  height: 3px;
  margin-top: 3px;
  border-radius: 1.6em;
  display: block;
  position: relative;
}

.nav__list {
  font-weight: bold;
  font-size: 1.4rem;
  display: none;
  width: 100%;
  text-transform: uppercase;
}

/* .nav__list.active {
  display: flex;
} */

.nav__list-open .nav__list {
  display: flex;
  /* background-color: var(--clr--bgc1-footer); */
}

.nav__list-open .bg__burger{
  background-color: var(--clr--bgc1-footer);
}

.nav__list-ul {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.nav__item {
  list-style: none;
  text-align: center;
}

.nav__link {
  text-decoration: none;
  color:rgba(255,255,255,.75);
  padding: 1.2rem 1.6rem;
  display: block;
}

.nav__link:hover {
  color: rgba(255,255,255,1);
  background: #1b002c;
}

@media (min-width: 800px) {
  .nav {
      flex-direction: row;
      align-items: center;
  }

  .toggle-button {
      display: none;
  }

  .nav__list {
      display: inline;
  }

  .nav__list-open .nav__list {
    background-color: transparent;
  }

  .nav__list-open .bg__burger {
    background-color: transparent;
    transition: 0s;
  }

  .nav__list-ul {
      flex-direction: row;
      display: flex;
      justify-content: flex-end;
  }

  .nav__link:hover {
      background: transparent;
  }
}

/* Home Section */

.home {
  background-image: url('/img/ladybannerx2\ 1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 650px;
  background-color: #4e2e4c8a;
  background-blend-mode: multiply;
  display: flex;
  flex-direction: column;
}

.home__description {
  color: var(--clr-title);
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.home__description p {
  font-size: 4rem;
  margin: 20px 20px;
}

.home__btn-container {
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__btn {
  color: var(--clr-title);
  padding: 1.2em 2em;
  background-color: var(--clr-footer2);
  border-radius: 50px;
  width: 227px;
  text-decoration: none;
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: transform 200ms ease-in-out;
}

.home__btn:nth-child(2) {
  margin-top: 1em;
}

.home__btn:hover {
  transform: scale(1.1);
}
@media (min-width: 1200px) {
.home__description {
  width: 50%;
}

.home__description p {
   font-size: 5.6rem;
}

.home__btn-container {
  align-items: flex-end;
  margin-right: 20px;
}
}

/* Cards section */

.cards{
    /* max-width: 1280px; */
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-content: center;
    margin: auto 100px;
    row-gap: 50px;
  }

  @media (max-width: 420px) {
    .cards {
      margin: 0 auto;
    }
  }
  
  .card {
      background-color: transparent;
      width: 185px;
      height: 315px;
      border-radius: 10px;
      /* float: left; */
      margin-top: 20px;
      /* margin-left: 20px; */
      perspective: 1000px; 
      align-self: center;
      justify-self: center;
    }
    
    /* This container is needed to position the front and back side */
    .card__inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 1.1s;
      transform-style: preserve-3d;
    }
    
    .flip {
      transform: rotateY(180deg);
    }


    /* Position the front and back side */
    .card__front, .card__back {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden; /* Safari */
      backface-visibility: hidden;
    }
    
    /* Style the front side */
    .card__front {
      background-color: white;
      box-shadow: -3px -3px 10px gray inset;
      border-radius: 10px;
    } 
    
    .card__front__img{
        background: rgb(79,1,71);
        background: linear-gradient(180deg, rgba(79,1,71,1) 0%, rgba(17,0,28,1) 100%);
        box-shadow: 4px 4px 10px black inset;
        height: 157px;
        border: 1px solid #4F0147;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .card__front__img img{
        margin-top: 50px;
    }

    .card__front :nth-child(2){
        margin-top: 20px;
        font-size: 4rem;
    }

    .card__front :nth-child(3){
        color: gold;
        font-size: 2.5rem;
    }

    .card__front__btn{
        position: absolute;
        left: 100px;
        top: 270px;
        background-color: #3A015C;
        width: 65px;
        height: 25px;
        color: white;
        font-size: 1.5rem;
        border-radius: 12px;
        text-align: center;
        line-height: 25px;
        box-shadow: 0px 2px 4px white inset, 0px 2px 2px grey;
        cursor:pointer;
    }

    .card__front__btn:hover{
      box-shadow: 0 0 10px 0 #3A015C inset, 0 0 5px 2px #3A015C;
    }
    
    .card__front__btn:active{
      background-color: #3b015cb9;
      box-shadow: 0px 4px 10px #3A015C inset;
    }
  
    /* Style the back side */
    .card__back {
      box-sizing: border-box;
      padding: 10px 15px 0px 15px;
      background: rgb(79,1,71);
      background: linear-gradient(180deg, rgba(79,1,71,1) 0%, rgba(17,0,28,1) 100%);
      color: white;
      border-radius: 10px;
      transform: rotateY(180deg);
      text-align: left;
    }

    .card__back h2{
        text-align: center;
    }

    .card__back p{
        font-size: large;
        margin-top: 8px;
    }

/* Description section */
body {
  background-color: var(--clr-footer2);
}
/* Lineas separadoras del background */
.linea__separadora-fondo1 {
    position: absolute;
    top: 78%;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--clr--bgc1-footer);
    z-index: -1;
    transform: skewY(13deg);
    transform-origin: top right;
  }

  .linea__separadora-fondo2{
      position: absolute;
      top: 20%;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100%;
      height: 60%;
      background: var(--clr--bgc1-footer);
      z-index: -2;
      transform: skewY(0deg);
      transform-origin: top right;
  }
  .linea__separadora-fondo3 {
    position: absolute;
    top:200%;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--clr-bgc3);
    z-index: -1;
    transform: skewY(-25deg);
    transform-origin: top right;
  }

  .linea__separadora-fondo4 {
    position: absolute;
    top: 300%;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--clr-bgc3);
    z-index: -2;
    transform: skewY(0deg);
    transform-origin: top right;
  }
 /* Dise単o titulo cartas perfiles */
 .description__profiles .imagen__separadora-secciones{
   text-align: right;
   opacity: 0.3;
 }
 .title__principal{
  margin: 50px auto;
  text-align: center;
  color: var(--clr-title);
}
.title__cards{
  margin: 50px auto;
  text-align: left;
  color: var(--clr-title);
}
/* contenedor de las cartas con su respectivo tama単o */
.container__profiles{
  width: 1440px;
	display: flex;
  max-width: 1200px;
  margin: auto;
}

/* dise単o para cada unas de las cartas */
.container__profiles .card__profile .nombre__gradiente-1{
  text-align: center;
  background: -webkit-linear-gradient(#f12711,#f5af19);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #f12711;
  display: block;
  margin-left: 19px;
}

.container__profiles .card__profile .cinta__gradiente-1{
  display: block;
  font-size: 16px;
  background: rgb(241,39,17);
  background: radial-gradient(circle, rgba(241,39,17,1) 0%, rgba(245,175,25,1) 100%);
  text-align: center;
}
.container__profiles .card__profile .nombre__gradiente-2{
  text-align: center;
  background: -webkit-linear-gradient(#12c2e9,#c471ed);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #12c2e9;
  display: block;
  margin-left: 19px;
}
.container__profiles .card__profile .cinta__gradiente-2{
  display: block;
  font-size: 16px;
  background: rgb(18,194,233);
  background: radial-gradient(circle, rgba(18,194,233,1) 0%, rgba(196,113,237,1) 100%);
  text-align: center;
}
.container__profiles .card__profile .nombre__gradiente-3{
  text-align: center;
  background: -webkit-linear-gradient(#1f4037,#99f2c8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #1f4037;
  display: block;
  margin-left: 19px;
 }
.container__profiles .card__profile .cinta__gradiente-3{
  display: block;
  font-size: 16px;
  background: rgb(31,64,55);
  background: radial-gradient(circle, rgba(31,64,55,1) 0%, rgba(153,242,200,1) 100%);
  text-align: center;
 }
.container__profiles .card__profile .nombre__gradiente-4{
  text-align: center;
  background: -webkit-linear-gradient(#c31432,#240b36);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #c31432;
  display: block;
  margin-left: 19px;
}

.container__profiles .card__profile .cinta__gradiente-4{
  display: block;
  font-size: 16px;
  background: rgb(195,20,50);
  background: radial-gradient(circle, rgba(195,20,50,1) 0%, rgba(36,11,54,1) 100%);
  text-align: center;
}
.card__profile{
  width: 950px;
  height: 330px;
	margin: 20px;
	border-radius: 10px;
	background:#fff;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
  cursor: default;
}

.card__profile .forma__redonda-imagen{
  width: 50%;
  height: 100px;
  border-radius: 50%;
  position: relative;
  left: 60px;
  bottom: 30px;
}

.container__profiles .desalineacion__1{
  position: relative;
  bottom: 40px;
}

.container__profiles .desalineacion__2{
  position: relative;
  bottom: 40px;
}

.container__profiles .card__profile h2 {
  margin-bottom: 15px;
  color: #7a7a7a;
}
.container__profiles .card__profile p{
    line-height: 1.8;
    color: #6a6a6a;
    font-size: 14px;
    margin-bottom: 5px;
    text-align: center;
}

.second__section-tecnologics{
    margin: 50px auto;
    color: var(--clr-title);
}

.second__section-tecnologics h2{
  margin: 40px auto;
}

.second__section-tecnologics .iconos__resolucion{
  text-align: center;
}

.second__section-tecnologics .iconos__resolucion img{
  width:30%; 
  height:30%;
  display: inline; 
}

.third__section-resources{
  margin: 40px auto;
}

.third__section-resources h2{
  color: var(--clr-title);
  margin: 40px auto;
}

.third__section-resources .links__dise単o{
  font-size: 2rem;
  text-align: center;
  color: var(--clr-title);
  text-decoration: none;
}

.third__section-resources a{
  color: var(--clr-title);
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .card__profile {
    flex-wrap: wrap;
  }
  .container__profiles {
    height: 760px;
  }
}

/* Footer section */
footer {
  width: 100%;
  height: 180px;
  background-color: var(--clr--bgc1-footer);
}
.footer__contact {
  height: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer__team p {
  color: #fff;
  font-size: 2.4rem;
}
.footer__contact-list {
  list-style: none;
}
.footer__contact-list li {
  display: inline-block;
}
.footer__contact-list li a {
  text-decoration: none;
}
.footer__contact-list li a i {
  color: #fff;
  border-radius: 10px;
  font-size: 4.2rem;
  padding: 1.5rem;
}
.footer__contact-list li a i:hover {
  color: var(--clr-footer2);
}
.footer__copy {
  height: 60px;
  background-color: var(--clr-footer2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.footer__copy p {
  color: #fff;
  font-size: 1.4rem;
  margin-top: 20px;
}
.footer__copy div {
  margin-top: 15px;
}
.footer__copy ul {
  list-style: none;
}
.footer__copy li {
  display: inline-block;
}
.footer__copy li a {
  text-decoration: none;
}
.footer__copy li a {
  font-size: 1.05rem;
  color: #fff;
  padding: 10px;
}
.footer__copy li a:hover {
  color: #11001c;
  text-decoration: underline;
}
