/* Custom properties */

:root {
  --clr-title: #fff;
  --clr--bgc1-footer: #11001c;
  --clr-bgc2: #880d63;
  --clr-bgc3: #35012c;
  --clr-footer2: #4f0147;

  --fs-h1: 4.5rem;
  --fs-h2: 3.25rem;
}
/* General styles */

/* Buttons */

/* typography */

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

/* Header section*/

/* Home section */

/* Cards section */
.cards{
    max-width: 1280px;
  }
  
  .card {
      background-color: transparent;
      width: 185px;
      height: 315px;
      border-radius: 10px;
      float: left;
      margin-top: 20px;
      margin-left: 20px;
      perspective: 1000px; 
    }
    
    /* This container is needed to position the front and back side */
    .card__inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 1.1s;
      transform-style: preserve-3d;
    }
    
    .flip {
      transform: rotateY(180deg);
    }


    /* Position the front and back side */
    .card__front, .card__back {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden; /* Safari */
      backface-visibility: hidden;
    }
    
    /* Style the front side */
    .card__front {
      background-color: white;
      box-shadow: -3px -3px 10px gray inset;
      border-radius: 10px;
    } 
    
    .card__front__img{
        background: rgb(79,1,71);
        background: linear-gradient(180deg, rgba(79,1,71,1) 0%, rgba(17,0,28,1) 100%);
        box-shadow: 4px 4px 10px black inset;
        height: 157px;
        border: 1px solid #4F0147;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .card__front__img img{
        margin-top: 50px;
    }

    .card__front :nth-child(2){
        margin-top: 20px;
        font-size: 4rem;
    }

    .card__front :nth-child(3){
        color: gold;
        font-size: 2.5rem;
    }

    .card__front__btn{
        position: absolute;
        left: 100px;
        top: 270px;
        background-color: #3A015C;
        width: 65px;
        height: 25px;
        color: white;
        font-size: 1.5rem;
        border-radius: 12px;
        text-align: center;
        line-height: 25px;
        box-shadow: 0px 2px 4px white inset, 0px 2px 2px grey;
        cursor:pointer;
    }

    .card__front__btn:hover{
      box-shadow: 0 0 10px 0 #3A015C inset, 0 0 5px 2px #3A015C;
    }
    
    .card__front__btn:active{
      background-color: #3b015cb9;
      box-shadow: 0px 4px 10px #3A015C inset;
    }
  
    /* Style the back side */
    .card__back {
      box-sizing: border-box;
      padding: 10px 15px 0px 15px;
      background: rgb(79,1,71);
      background: linear-gradient(180deg, rgba(79,1,71,1) 0%, rgba(17,0,28,1) 100%);
      color: white;
      border-radius: 10px;
      transform: rotateY(180deg);
      text-align: left;
    }

    .card__back h2{
        text-align: center;
    }

    .card__back p{
        font-size: large;
        margin-top: 8px;
    }
  

/* Description section */
body{
    background-color: var(--clr-footer2);
}
/* Lineas separadoras del background */
.separator__line-1 {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: var(--clr-bgc3);
    z-index: -1;
    transform: skewY(15deg);
    transform-origin: top right;
  }
  .separator__line-2 {
    position: absolute;
    top:100%;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--clr-bgc3);
    z-index: -1;
    transform: skewY(-25deg);
    transform-origin: top right;
  }
/* contenedor de las cartas con su respectivo tamaño */
.container__profiles{
    width: 100%;
	display: flex;
	max-width: 1100px;
    margin: auto;
}

  /* Diseño titulo cartas */
.title__principal{
    margin-top: 350px;
    text-align: center;

}
.title__cards{
    text-align: left;
}
/* diseño para cada unas de las cartas */
.card__profile{
    width: 100%;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background:#fff;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
	cursor: default;
} 

.card__profile img{
    width: 100%;
	height: 210px;
}

.container__profiles .card__profile h2{
    margin-bottom: 15px;
    color: #7a7a7a;
}

.container__profiles .card__profile p{
    line-height: 1.8;
    color: #6a6a6a;
    font-size: 14px;
    margin-bottom: 5px;
}

.second__section-tecnologics{
    margin-top: 150px;
}

@media only screen and (min-width:320px) and (max-width:768px){
	.card__profile{
		flex-wrap: wrap;
	}
	.container__profiles{
		height: 760px;
	}
}

/* Footer section */
footer {
  width: 100%;
  height: 180px;
}
.footer__contact {
  height: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--clr--bgc1-footer);
}
.footer__team p {
  color: #fff;
  font-size: 2.4rem;
}
.footer__contact-list {
  list-style: none;
}
.footer__contact-list li {
  display: inline-block;
}
.footer__contact-list li a {
  text-decoration: none;
}
.footer__contact-list li a i {
  color: #fff;
  border-radius: 10px;
  font-size: 4.2rem;
  padding: 1.5rem;
}
.footer__contact-list li a i:hover {
  color: var(--clr-footer2);
}
.footer__copy {
  height: 60px;
  background-color: var(--clr-footer2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__copy p {
  color: #fff;
  font-size: 1.2rem;
}
