*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


h1{
    color: #16e0bd;
    text-align: center;
    font-size: 2rem;
    margin: 50px auto;
}

.description{
    width: 1280px;
    height: 750px;
    background-color: #303030;
}

.container__profiles{
    display: flex;
    justify-content: space-around;
    align-self: center;
}
.cards__profile1{
    background-color: whitesmoke;
    height: 250px;
    width: 200px;

}
.cards__profile1 img{
    width: 100px;
    height: 100px;
    margin-left: 35px;
}
.cards__profile2{
    background-color: whitesmoke;
    height: 250px;
    width: 200px;
}
.cards__profile2 img{
    width: 100px;
    height: 100px;
    margin-left: 35px;
}
.cards__profile3{
    background-color: whitesmoke;
    height: 250px;
    width: 200px;
}
.cards__profile3 img{
    width: 100px;
    height: 100px;
    margin-left: 35px;
}
.cards__profile4{
    background-color: whitesmoke;
    height: 250px;
    width: 200px;
}
.cards__profile4 img{
    width: 100px;
    height: 100px;
    margin-left: 35px;
}

.second__section h2{
    text-align: center;
    font-size: 1.5rem;
    color: #16e0bd;
    margin-bottom: 10px;
}

.second__section img{
    width: 130px;
    height: 100px;
}

.second__section{
    margin: 50px 50px ;
}

.second__section div{
    display: flex;
    justify-content: space-evenly;
}

.third__section{
    padding: 20px auto;
    display: flex;
    justify-content: space-around;
    color: white;
}

.third__section div p a {

    text-decoration: none;
    color: whitesmoke;
}

.third__section div p a:hover {
    font-size:20px;
    color:#16e0bd;
  }

